* {
    outline: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.starter-template {
    text-align: center;
}

.prev_page {
    margin-right: 7px;
}

.navbar, .navbar-inverse {
    border-radius: 0;
}

/*Debugging panel*/
#open-panel {
    cursor: pointer;
    height: 42px;
    color: gray;
    display: block;
    position: fixed;
    font-size: 22px;
    background: #fff;
    right: 0;
    bottom: 0;
    padding: 4px 16px 4px 16px;
    border: 1px solid silver;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#close-panel {
    cursor: pointer;
    height: 42px;
    color: gray;
    display: none;
    position: fixed;
    font-size: 22px;
    background: #fff;
    right: 0;
    bottom: 0;
    padding: 4px 16px 4px 16px;
    border: 1px solid silver;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#panel {
    height: 42px;
    width: 100%;
    display: none;
    position: fixed;
    font-size: 1em;
    background: #fff;
    bottom: 0;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 16px;
    border: 1px solid silver;
}

#phpversion {
    margin-right: 7%;
}

#time {
    margin-right: 7%;
}

#app {
    margin-right: 7%;
}
/* ^^^ Debugging panel ^^^ */